.feature-card {
  height: 105% !important;
}

.hero {
  background-image: url('../images/illustrations/backgrounds/001-chalkboard.jpg');
}

.modal-content {
  color: white;
}

#firstvisit {
  z-index: 99999;
}

.bx-wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#survey-modal {
  z-index: 99999;
}

.modal-card {
  height: 100%;
}

#surveymodal {
  height: 24rem;
}

#feedbacksurvey {
  height: 29.5rem !important;
}

#contact-us-modal {
  z-index: 99999;
}

#contact-us-id {
  height: 32.5rem;
}

#menu-icon-wrapper {
  margin-left: -17px !important;
}

.card {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.6);
  margin-left: 20px;
}

.navbar-link::after {
  border-color: #3273dc;
  margin-top: -0.55em;
  right: 1.125em;
}

.divider {
  height: 1.5px !important;
  background: black !important;
  margin-top: -0.75rem;
  margin-bottom: 0.5rem;
  width: 100% !important;
}

.card-content {
  margin-top: 2rem;
  margin-bottom: -7rem;
}

#blog-container {
  margin-left: 4rem;
  margin-bottom: 8rem;
}

.navbar.is-fresh .navbar-item.is-secondary:hover {
  color: black;
}

.navbar.is-fresh .navbar-item.has-dropdown .navbar-link:hover {
  color: black;
}

