.feature-card {
    height: 105% !important;
  }
  
  .hero {
    background-image: url('../images/illustrations/backgrounds/001-chalkboard.jpg');
  }
  
  .modal-content {
    color: white;
  }
  
  #firstvisit {
    z-index: 99999;
  }
  
  .bx-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  
  #survey-modal {
    z-index: 99999;
  }
  
  .modal-card {
    height: 100%;
  }
  
  #surveymodal {
    height: 24rem;
  }
  
  #feedbacksurvey {
    height: 29.5rem !important;
  }
  
  #contact-us-modal {
    z-index: 99999;
  }
  
  #contact-us-id {
    height: 32.5rem;
  }
  
  #menu-icon-wrapper {
    margin-left: -17px !important;
  }
  
  .card {
    border-radius: 16px;
    background-color: rgba(255,255,255,0.6);
  }