<div id="blog-firstvisit" class="modal blog-firstvisit">
    <div class="modal-background"></div>
    <div class="modal-content">
        <h1 class="title" style="color:white;">Welcome to the Northern SLT Blog!</h1>
        <p>This blog is still a WIP, and it may not always be guaranteed to work. We apologize for any inconvenience this may cause, we are working on getting it completed.</p>
    </div>
    <span class="modal-close is-large" id="blog-firstvisit-close" aria-label="close"></span>
</div>