<div class="sidebar">
    <div class="sidebar-header">
        <img src="{{root}}assets/images/logo.png">
        <a class="sidebar-close" href="javascript:void(0);"><i class="fas fa-close"></i></a>
    </div>
    <div class="inner">
        <ul class="sidebar-menu">
            <li><span class="nav-section-title"></span></li>
            <li><a id="scrollto" onclick='scroll("intro");' href="#intro">Introduction</a></li>
            <li><a id="scrollto" onclick='scroll("what-we-do");' href="#what-we-do">What are we Doing?</a></li>
            <li><a id="scrollto" onclick='scroll("slt-station");' href="#slt-station">SLT Station</a></li>
            <li><a id="scrollto" onclick='scroll("images");' href="#images">Image Gallery</a></li>
        </ul>
    </div>
</div>