.feature-card {
  height: 105% !important;
}

.hero {
  background-image: url('../images/illustrations/backgrounds/001-chalkboard.jpg');
}

.modal-content {
  color: white;
}

#firstvisit {
  z-index: 99999;
}

.bx-wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#survey-modal {
  z-index: 99999;
}

.modal-card {
  height: 100%;
}